<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Import from {{directory}}</h2>
        
    </div>
        
        
  <div class="panel-body container-fluid">
    <div class="row-fluid" ng-repeat-start="file in files">
        <div class="row-height">
<!--
          <span class="col-sm-1 col-md-1 col-lg-1 col-height" style="vertical-align:middle" >
            <input type="checkbox" aria-label="..." checked>
          </span>
        <span class="col-sm-10 col-md-10 col-lg-10 col-height">{{file}}</span>
        <span class="col-sm-1 col-md-1 col-lg-1">
        </span>
-->
            <div class="checkbox">
            <label>
              <input type="checkbox"  ng-model="file.selected"> {{file.filename}}
            </label>
          </div>
        </div>
    </div>
        <div class="row" ng-repeat-end="" style="padding-top: 6px;"></div>
</div>
    <div class="panel-footer">
    <span class="input-group-btn text-right">
        <button class="btn btn-default" type="button" aria-label="Right Align" ng-click="submitFilesForImport()">Import</button>
    </span>
    
    </div>
</div>
